[mysqld]
sql_mode=TRADITIONAL
character_set_server=utf8mb4
collation_server=utf8mb4_bin
table_open_cache=400
skip_character_set_client_handshake

innodb_buffer_pool_size=256MB
innodb_page_size = 16K
max_connections=15000

[client]
default_character_set=utf8mb4
